@import "@fontsource/atkinson-hyperlegible";
@import "@fontsource/jetbrains-mono";

html {
  /* font */
  --font-system-ui: "Atkinson Hyperlegible", sans-serif;
  --font-monospace-code: "JetBrains Mono", monospace;
}

:root {
  color-scheme: dark;
}

@media (prefers-color-scheme: light) {
  :root {
    color-scheme: light;
  }
}

[color-scheme="dark"] {
  color-scheme: dark;
}

[color-scheme="light"] {
  color-scheme: light;
}
